mixin item(href, active)
	if(active)
		li(class=active): a( href=href ): block
	else	
		li: a( href=href ): block
mixin tabItem(href, active)
	if(active)
		li(class=active): a(class="vtabs-link" data-tab="tab" data-tab-target=href): block
	else
		li: a(class="vtabs-link" data-tab="tab" data-tab-target=href): block
mixin loop(mainSrc, hoverSrc)
	.vak-xs-12.vak-sm-6.vak-md-4.vloop-wrap
		.vloop
			img(class="vloop-image--main" src=mainSrc)
			a(href="#" class="vloop-link")
			//img(class="vloop-image--hover" src=hoverSrc)
			.vloop-details: .vloop-details-inner: span.vloop-title: block
mixin about(icon, circle)
	.vak-xs-12.vak-sm-6.vak-md-3.about-block
		.about-block-inner
			//span.about-block-line
			if(circle)
				span.about-block-circle
			.about-block-icon
				i(aria-hidden="true" class=icon)
			.about-block-title
				h4.h4: block